source_url https://omnix.page/om/develop/omnixrc/v1 "sha256-FBAVRYkaexKeFKQGUxaPHqhBnqA7km7++O77dKiyD0I="

# Uses patched version of omnix;
# SEE: https://github.com/juspay/omnix/pull/489
export OMNIX_BIN="om"

watch_file om.yaml
use omnix
